.Rproj.user
.Rhistory
.RData
.Ruserdata
9606.protein.info.v11.5.txt
9606.protein.links.v11.5.txt
9606.protein.info.v12.0.txt
9606.protein.links.detailed.v12.0.txt
proteinGroups_APEX_P62.txt
proteinGroups_sqstm1.txt
Univariate_table_2023-10-19.xlsx
Univariate_table_2023-10-20.xlsx
Univariate_table_2023-10-25-2.xlsx
